.bx--date-picker {
    width: 100% !important;
}

.bx--date-picker-container {
    width: 100% !important;
}

.bx--date-picker__input {
    width: 100% !important;
}

.bx--chart-holder {
    margin: 0 auto;
}